.form_information {
  background-color: #ffffff;
  margin-top: 30px;
  color: #3a3a3a;
  width: calc(100% - 2rem);
  /* font-family: var(--font3); */
}
.information_input {
  width: 100%;
}
.field {
  width: 100%;
}
.field table {
  width: 100%;
}
.field caption {
  width: 100%;
  /* height: 30px; */
  /* border: 1px solid black; */
}
.field caption h4 {
  /* border: 1px solid black; */
  padding: 0.5rem;
  align-items: center;
  display: flex;
  /* font-family: var(--font3); */
  font-size: 1.25rem;
}
.field caption h4 img {
  height: 25px;
  /* border: 1px solid black; */
}
.field table tr {
  width: 100%;
  border: 1px solid #d9d9d9;
}

input {
  /* border: none; */
  /* border-bottom: 1px solid #aeaeae; */
}
input:focus {
  outline: none;
  background-image: url(../img/path.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  border-bottom: 1px solid #3a3a3a;
}
select {
  line-height: 1.5;
  padding: 0.3rem;
  font-family: var(--font1);
}
section:focus {
  outline: none;
}
.col1 {
  background-color: #eaeaea;
  padding: 1rem;
}
.col2 {
  padding: 1rem;
}
.notice {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}
.input_confirmation {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.confirmation_detail {
  /* max-width: 800px; */
  padding: 0 2rem;
  font-size: 0.75rem;
  width: 100%;
}
.confirmation_detail span {
  font-weight: bold;
}
.confirmation_detail p {
  margin-bottom: 0.2rem;
}
.page3_caution {
  margin: 20px 0 10px 0;
  color: #ff9090;
  text-align: center;
}
.btnstep_wrap {
  margin-bottom: 50px;
  justify-content: center;
}
.btnstep_wrap button.btn_reservation_complete {
  justify-content: center;
}
button:disabled {
  background-color: #aeaeae;
}

.reservation_confirm_overlay.on {
  display: flex;
}
.reservation_confirm_overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00000045;
}
.reservation_confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/reservation_img.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  font-family: var(--font1);
}
.reservation_confirm h5 {
  padding: 1rem;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .field table caption h4 {
    font-size: 1rem;
  }
  form {
    font-size: 0.75rem;
  }
  .col1 {
    width: 20%;
  }
  .page3_caution {
    font-size: 0.75rem;
  }
}
